use master;
go

if exists
(
	select	*
	from	sys.databases
	where	name = 'file_db'
)
drop database file_db;
go

create database file_db;
go

use file_db;
go

create table dbo.sale_record(Id uniqueidentifier null,
	Region nvarchar(255) null,
	Country nvarchar(255) null,
	ItemType nvarchar(255) null,
	SalesChannel nvarchar(255) null,
	OrderPriority char(1) null,
	OrderDate nvarchar(255) null,
	OrderID nvarchar(255) null,
	ShipDate date null,
	UnitsSold int null,
	UnitPrice numeric(18, 9) null,
	UnitCost numeric(18, 9) null,
	TotalRevenue numeric(18, 9) null,
	TotalCost numeric(18, 9) null,
	TotalProfit numeric(18, 9) null);
go
