<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <connectionStrings>
    <add name="DB" connectionString="Data Source=kevin-win-vm;Initial Catalog=file_db;integrated security=True;;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="CurrentDir" value="C:\DataEngineeringAssessment\Question2-Material\TestFiles\" />
    <add key="ProcessedDir" value="C:\DataEngineeringAssessment\Question2-Material\TestFiles\PROCESSED\" />
    <add key="ErrorDir" value="C:\DataEngineeringAssessment\Question2-Material\TestFiles\ERROR\" />
    <add key="SupportingTools" value="C:\DataEngineeringAssessment\Question2-Material\SupportingTools\" />
    <!--<add key="Src1" value="C:\DataEngineeringAssessment\Question2-Material\TestFiles\sales_records_1.csv"/>-->
    <!--<add key="Src2" value="C:\DataEngineeringAssessment\Question2-Material\TestFiles\sales_records_2.csv"/>-->
    <!--<add key="Src3" value="C:\DataEngineeringAssessment\Question2-Material\TestFiles\sales_records_3.csv"/>-->
    <!--<add key="Src4" value="C:\DataEngineeringAssessment\Question2-Material\TestFiles\sales_records_4.csv"/>-->
  </appSettings>
  
</configuration>